 
    .logo {
        position: relative;
        top: 14px;
        left: 50px;
        font-weight: bold;
        font-size: 25px;
      }
      
      .menu {
        position: fixed;
        top: 0;
        right: 0;
        align-self: flex-start;
        font-family: var(--font-family);
        color: #6070ff;
        width: 40px;
        height: 30px;
      }
      
      .menu_items {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
      }
      
      .menu_items li {
        display: block;
        margin: 10px;
        text-align: right;
      }
      
      .both {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 7vh;
        background-color: white;
      }
      
      .big-one {
        position: absolute;
        top: 28%;
        left: 40%;
        font-family: Arial, sans-serif; /* Added generic font family */
        width: 280px;
        font-size: 30px;
        font-weight: bold;
      }
      
      .par {
        position: absolute;
        top: 45%;
        left: 40%;
        width: 280px;
        display: block;
        line-height: 24px;
        font-size: 21px;
        font-family: Arial, sans-serif; /* Added generic font family */
      }
      
      .connect {
        position: absolute;
        color: rgb(63, 63, 159);
        top: 77%;
        left: 40%;
      }
      
      .social {
        position: absolute;
        top: 85%;
        left: 40%;
      }
      
     
      @media (max-width: 767px) {
        .menus {
          display: none;
        }
      
        body {
          background-image: url("image/mobi2.png");
          background-size: cover;
        }
      }
      
      @media (min-width: 768px) {
        .menu {
          display: none;
        }
      }



















    
    .grid-container {
        display: grid;
        margin-top: 700px;
        background-color: white;
        flex-direction: column;
        grid-template-columns: repeat(1, 300px);
       grid-template-rows: repeat(4, 1fr);  
        gap: 1px; /* Adjust the gap value to your desired size */
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .btn{
        width: 120px;
        height: 30px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 10px;
        border: 3px solid wheat;
    }
    .btn1{
        width: 120px;
        height: 40px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 10px;
        border: 3px solid rgb(87, 86, 84);
    }
    .image1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.375);
        border: 3px rgb(40, 39, 39);
        border-radius: 5px;
        margin-bottom: 0px;
    }
    
    .image1 .photo1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    }
    @media  only screen and(min-width:768) {
         
        
    }

    .list-item {
        display: flex;
        align-items: center;
        border: 2px solid wheat;
        margin-top: 5px;
      }
      
      .item-link {
        display: flex;
        align-self: center;
        text-decoration: none;
      }
      
      .icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    
    .canop ul {
        display: flex;
        list-style: none;
        padding: 0;
      }
      
      .canop li {
        margin-right: 10px;
        position: relative;
      }
      
      .canop li::after {
        content: "\00B7";
        position: absolute;
        right: -5px;
        color: black; /* Set the color of the dot */
      }
      .list ul {
        display: flex;
        list-style: none;
        
      }
      
      .list li {
        margin-right: 10px;
        background-color: rgb(238, 245, 245);
        border-radius: 10px;
        padding: 2px;
      }
      
      .list li:last-child {
        margin-right: 0;
      }
      
      .list li::after {
        content: "\00B7";
        margin-left: 10px;
        color: black;
         
      }
    .image2 {
        display: flex;
        flex-direction: column;
        justify-content:left;
        align-items:flex-start;
        background-color: blue;
        border: 1px solid rgb(152, 144, 144);
        border-radius: 5px;
        margin-bottom: 0px;/* Add a unit value (e.g., px) here */
    }
    
    .image3 {
        background-color: aqua;
       display: flex; /* Add a unit value (e.g., px) here */
    }
    
    .image4 {
        background-color: green;
        width: 100%;
        height: 100px; /* Add a unit value (e.g., px) here */
    }
    
    .image5 {
        background-color: orange;
        width: 100%;
        height: 100px; /* Add a unit value (e.g., px) here */
    }
    
    

    
     